body, html{
  margin: 0;
  height: 100%;
  width: 100%;
}

body:hover{
  //background: rgb(210, 241, 255);
}

a{
  margin-right: 100px;
  display: inline-block;
  margin-bottom: 15px;
}

h3{
  clear:both;
}

.hidden{
  display: none !important;
}

.main-container{
  min-height: 100%;
}

.footer{
  position: relative;
  margin-top: -100px;
  width: 100%;
  height: 100px;
  background: black;
  color: black;
  font-size: 13px;
  overflow: hidden;
}

.panel{
  width: 100%;
  min-height: 100px;
  display:inline-block;
  }

  .panel:nth-child(2n-1), .footer{
      background:black;
      color:white;
  }
  
  .panel:nth-child(2n-1) a, .footer a{
    color: white;
  font-size: 20px;
  font-weight: 800;
    
  }
  
  .panel:nth-child(2n){
    color:black;
    font-family: arial;
  }
  
  .panel p{
        line-height: 32px;
            text-align: justify;
  }
  
    .panel:nth-child(2n) a{
      color: black;
      font-size: 22px;
      font-weight: bold;
      
      margin: 5px;
      clear: both;
      float: left;
    }
    
    .panel:nth-child(2n) h2{
      font-size: 2em;
      clear:both;
      float:left;
    }
    
    .panel:nth-child(2n) p{
      margin-top: 5px;
      clear: both;
    }
  
  .push{
    height: 100px;
    clear:both;
    margin-top: 40px;
  }
  
  .panel-box{
  margin:auto;
  max-width: 1000px;
  padding: 20px;
  }
  
  h3, .panel:nth-child(2n) a.link{
    display: inline-block;
    float: left;
    font-size: 18px;
    margin: 18px;
    margin-left: 0;
  }
  
  .panel:nth-child(2n) a.link{
    clear: none;
    color: red;
    text-transform: none;
  }
  
  .panel:nth-child(2n) a.inline-link{
    margin: 0;
    float: none;
    font-size: inherit;
  }
  
  span.newline{
    clear:both;
    float:left;
  }
  
  span.date, span.issue, span.item{
    float: left;
padding: 0px 10px;
margin: 10px;
color: gray;
border-radius: 10px;
box-shadow: gray 0 0 5px 2px;
font-size: 14px;
  }

span.issue{
  box-shadow: red 0 0 5px 2px;
  border-radius:0 0 5px 5px;
margin-top: 0;
}

span.item{
    box-shadow: rgb(95, 185, 255) 0 0 5px 2px;
  border-radius:0 0 5px 5px;
  margin-top: 0;
}

.img-container{
  overflow:auto;
  margin-bottom: 30px;
}

.img-container img{
    border: black 1px solid;
}

.modal-box{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(30,30,30,0.3);
  z-index: 5;
}

.file-content{
  padding: 5px; 
  min-height: 20px;
}

.file-box{
  display: inline-block;
  margin:30px;
  cursor: pointer;
  vertical-align: top;
}

.file-box span{
  display: block;
  text-align: center;
  max-width: 110px;
  word-wrap: break-word;
}

.file-details{
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 400px;
  width: 500px;
  z-index: 10;
  background: white;
  border: black solid 5px;
  border-radius: 18px;
  padding: 10px 80px 10px 50px;
  box-shadow: black 0 0 10px 3px;
}

.file-content-container{
  overflow: auto;
  max-height: 330px;
}

.CodeMirror{
  border-radius: 15px;
}

.close, .delete, .save, .run{
  border-radius: 10px;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  position: absolute;
}

.close{
  top: 5px;
  right: 5px;
  background: black;
}

.close:hover{
  background: rgb(99, 99, 99);
}

.delete{
  bottom: 190px;
  right: 5px;
  background: red;
}

.delete:hover{
  background: rgb(230, 0, 0);
}

.save{
  bottom: 5px;
  right: 5px;
  background: rgb(63, 194, 58);
}

.save:hover{
  background: rgb(60, 180, 56);
}

.run{
  background: rgb(89, 122, 255);
  right: 5px;
  bottom: 100px;
}

.run:hover{
  background: rgb(60, 98, 250);
}

img[src*="http://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png"], img[src*="gravatar"]
{
  border-radius: 10px;
  box-shadow: 0 0 10px 0px black;
}

.CodeMirror-hscrollbar
{
  visibility: hidden;
}

.file-handler
{
  display: inline-block;
  padding: 20px;
  border: black 1px solid;
  border-radius: 15px;
  box-shadow: 0 0 10px 2px;
}

#ending, .nums{
  clear: both;
  display: block;
  font-size: 30px;
}

.num
{
  display: inline-block;
}
