<head>
<title>Number sum game</title>
<meta name="description" content="Solutions to problems involving series">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="../styles.css">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-52254492-1', 'michalpaszkiewicz.co.uk');
  ga('send', 'pageview');
</script>
</head>
<body ng-app="app" ng-controller="gameTheoryControl">
  
  <div class="main-container">
  <div id="panel1" class="panel">
    <div class="panel-box">
      <h1> Michal Paszkiewicz</h1>
      <h2>Maths | Game theory!</h2>

    </div>
  </div>

  <div id="panel2" class="panel">
    <div class="panel-box">
    
      <div>
        <h3>New numbers</h3>
        <div style="clear:both">
        <input type="number" ng-model="amount" min=1 max=1000 step=1>
        <button ng-click="newNumbers()">Generate</button>
        </div>
      </div>
    
      <h3>List</h3>
      <div style="clear:both">
      <div class="number-box" ng-class="{'selected-number': number.selected}" ng-repeat="number in numbers" ng-click="number.selected = !number.selected">{{number.name}}</div>
      
      <button style="clear:both" ng-click="deleteSelected()">Delete selection</button>
      <style>
        .number-box{cursor: pointer; min-width: 30px; display:inline-block; text-align:center;}
        .selected-number{background:yellow};
      </style>
      </div>
    </div>

  </div>
  
    <div class="push"></div>
  </div>
<div class="footer">
  <div class="panel-box">

        <a href="../">Maths</a>
        </div>
</div>


<script src="./gameTheoryController.js"></script>

</body>
